#section_one {
    display: flex;
    flex-direction: row;
}
.date_landing {
    margin: auto;
    font-size: 2rem;
    color: white;
}
.landing_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
    height: fit-content;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    padding: 1rem;
    max-width: 675px;
    min-width: 500px;

}
td {
    margin-top: 0.4rem;
}
.table_head_container {
    display: flex;
    width: 80%;
    color: white;
}
.landing_title {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    color: white;
}
.laLiga_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 95%;

    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style: none;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    padding-left: 0%;
}

.laLiga_dropdown_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    list-style: none;
}
.dropdown_btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
    background-color: #395B64;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    margin: auto;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;  
    border-radius: 2px;
    opacity: 100%;
    height: 2rem;
    border-radius: 4px;
    
}
.list_item_dropdown {
    font-size: 18px;
    padding: 10px;
    border-bottom: 1px solid lightgray;

    color: white;
    width: 90%;
    margin: auto;
}
li:last-child {
    border-bottom: none;
}
li:first-child {
    padding-top: 0%;
  }

.dropdown_btn:hover {
    background-color: #395B64;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}
.show_more_btn {
    width: 85%;
    background-color: #395B64;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 1.2rem;
    padding-top: 0.2rem;
padding-bottom: 0.2rem;
    cursor: pointer;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.4);
    height: 36px;
}
#myImage {
    border: 1px solid white;
    padding: 10px;
    background-color: rgba(0,0,0,0.3);
}